<div class="row">
  <div class="col-md-2">
    <!DOCTYPE html>
    <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
    <html lang="en" dir="ltr">

    <head>
      <meta charset="UTF-8">
      <title>Counsellor</title>
      <!-- Boxicons CDN Link -->
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

      <div class="sidebar">

        <div class="logo-details">
          <img src="https://img.icons8.com/ios-filled/50/000000/mental-health.png" />
          <span class="logo_name" style="font-size:30px;">Counsellor</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/home" class="active">
              <img src="https://img.icons8.com/material-sharp/24/000000/home.png" />
              <span class="links_name">Home</span>
            </a>
          </li>
          <br>

          <li>
            <a href="/counsellor">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/property-time.png" />
              <span class="links_name">Appointments</span>
            </a>
          </li>
          <br>
          <li>
            <a href="#">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/list--v1.png" />
              <span class="links_name">Client's list</span>
            </a>
          </li>
          <br>
          <li>
            <a href="/groups">
              <img src="https://img.icons8.com/android/24/000000/google-groups.png" />
              <span class="links_name">Create Groups</span>
            </a>
          </li>
          <br>
         
          <!-- <li>
            <a href="#">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/overtime.png" />
              <span class="links_name">Schedule Meeting</span>
            </a>
          </li> -->
          <br>
          <br>
          <li>
            <a href="/login">
              <img src="https://img.icons8.com/material-outlined/24/000000/logout-rounded.png" />
              <span class="links_name">Logout</span>
            </a>
          </li>



        </ul>
      </div>



      <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
          sidebar.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      </script>

    </body>

    </html>

  </div>
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <div class="container custom-container"style="margin-top:50px">
      <div class="col-md-12">
        <h3 class="mb-3 text-center"style="font-family: 'Domine' , serif;font-size:30px">Update Appointment</h3>
        <h3></h3>
        <div class="form-group">
          <input type="date" [(ngModel)]="appointmentData.date" class="form-control" placeholder="Date">
        </div>
        <div class="form-group">
          <input type="time" [(ngModel)]="appointmentData.timeStart" class="form-control" placeholder="TimeStart">
        </div>
        <div class="form-group">
          <input type="time" [(ngModel)]="appointmentData.timeEnd" class="form-control" placeholder="Time End">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="appointmentData.message" class="form-control" placeholder="Message">
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block"
            (click)="updateAppointment(appointmentData.id,appointmentData)">Schedule Appointment</button>
        </div>
      </div>
    </div>
  </div>
</div>
