<div class="row">
  <div class="col-md-4">
    <!DOCTYPE html>
    <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
    <html lang="en" dir="ltr">

    <head>
      <meta charset="UTF-8">
      <title>Counsellor</title>
      <!-- Boxicons CDN Link -->
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
      <div class="row">
        <div class="col-4">
          <div class="sidebar">

            <div class="logo-details">
              <img src="https://img.icons8.com/ios-filled/50/000000/mental-health.png" />
              <span class="logo_name" style="font-size:30px;">Counsellor</span>
            </div>
            <ul class="nav-links">
              <li>
                <a href="/counsellor" class="active">
                  <img src="https://img.icons8.com/material-sharp/24/000000/home.png" />
                  <span class="links_name">Home</span>
                </a>
              </li>
              <br>

              <li>
                <a href="/counsellor">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/property-time.png" />
                  <span class="links_name">Appointments</span>
                </a>
              </li>
              <br>
              <li>
                <a href="/clientslist">
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/list--v1.png" />
                  <span class="links_name">Client's list</span>
                </a>
              </li>
              <br>
              <li>
                <a href="/groups">
                  <img src="https://img.icons8.com/android/24/000000/google-groups.png" />
                  <span class="links_name">Create Groups</span>
                </a>
              </li>
              <br>
              <li>
                <a href="/login">
                  <img src="https://img.icons8.com/material-outlined/24/000000/logout-rounded.png" />
                  <span class="links_name">Logout</span>
                </a>
              </li>



            </ul>
          </div>
        </div>
      </div>


      <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
          sidebar.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

      </script>

    </body>

    </html>

  </div>
  <div class="col-md-6" style="margin-top:50px">
    <!-- <table>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        

      </tr>
      <tr *ngFor="let user of userList">

        <td>{{user.username}}</td>
        <td>{{user.firstName}} </td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        


      </tr>
    </table> -->
    <table id="clients">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      <tr *ngFor="let user of userList" style="font-size: 17px; font-family: 'Domine' , serif;">
        <td>{{user.username}}</td>
        <td>{{user.firstName}} </td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </table>
    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table> -->



  </div>
</div>
