<!--Made by Fauxy, Subscribe to my YouTube channel  U CAN CODE-->
<!--Please don't forget to subscribe my Youtube Channel-->
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<body class="cotainer-fluid">
	<div class="container-fluid">
		<div class="about">
			<div class="text">
				<h1>Our Services</h1>
				<!-- <div class="line"></div> -->
			</div>
		</div>
        
		<div class="content">
			
            <div class="row">
                <div class="col-md-4">
                    <h2>
                        Our Specialty
                    </h2>
                    <p>
                        Our therapists are trained to offer specialized services to individuals, families, groups and organizations facing various psychological challenges.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Ambient Environment</h2>
                    <p>We offer serene consulting rooms that are aesthetically designed to ensure you experience a calm and comfortable therapy session.</p>
                </div>
                <div class="col-md-4">
                    <h2>Wide Reach</h2>
                    <p>Our services cater for clients all across Kenya.
                        We have built a reputation of providing excellent, tailor designed client care, both during and after therapy.</p>
                </div>
            </div>
		</div>
		</div>
		
</body>
</html>