<div class="row">
  <div class="col-md-2">
    <!DOCTYPE html>
    <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
    <html lang="en" dir="ltr">

    <head>
      <meta charset="UTF-8">
      <title>Clients</title>
      <!-- Boxicons CDN Link -->
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
      <div class="sidebar">
        <div class="logo-details">
          <img src="https://img.icons8.com/ios-filled/50/000000/mental-health.png" />
          <span class="logo_name" style="font-size:30px;">Client</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/home" class="active">
              <img src="https://img.icons8.com/material-sharp/24/000000/home.png" />
              <span class="links_name">Home</span>
            </a>
          </li>
          <br>
          <li>
            <a href="/appointments">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/property-time.png" />
              <span class="links_name">Book Session</span>
            </a>
          </li>
          <br>
          <li>
            <a href="/client-home">
              <img src="https://img.icons8.com/android/24/000000/google-groups.png" />
              <span class="links_name">Groups</span>
            </a>
          </li>
          <br>
          <li>
            <a href="/viewAppointments">
              <img src="https://img.icons8.com/material-outlined/24/000000/new-view.png" />
              <span class="links_name">View Appointment</span>
            </a>
          </li>
          <br>
          <li>
            <a href="/login">
              <img src="https://img.icons8.com/material-outlined/24/000000/logout-rounded.png" />
              <span class="links_name">Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
          sidebar.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

      </script>
    </body>

    </html>
  </div>

  <div class="col-md-3"></div>
  <div class="col-md-4">
    <!-- <div class="container" style="margin-top:50px">
      <div *ngIf="group">
        <h2>Group Name {{group.name | uppercase}}</h2> -->
    <!-- <div><span>id: </span>{{group.id}}</div> -->
    <!-- <h2>Description
          <br>
          {{group.description}} </h2>
        <h2>{{group.messages}}</h2>

        <div *ngIF='clients'>
          <div *ngFor='let client of clients'>
            <h1>{{client.client}}</h1>
          </div>
        </div> -->

    <!-- <div *ngIf='messages'>
          <div *ngFor='let message of messages'>
            <p>{{message.message}} {{message.client}}</p>
          </div>
        </div>

      </div>
    </div> -->

    <div class="card" style="width: 18rem;" style="margin-top:50px;font-size: 50px;">
      <div class="card-body">
        <h2 class="card-title" style="text-align:center">Group Name: {{group.name | uppercase}}</h2>
        <h4 class="card-subtitle mb-2 text-muted"style="text-align:center">Description</h4>
        <p class="card-text" style="text-align:center">
          {{group.description}}.
        </p>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>

</div>
