<div class="row">
  <div class="col-md-2">
    <!DOCTYPE html>
    <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
    <html lang="en" dir="ltr">

    <head>
      <meta charset="UTF-8">
      <title>Counsellor</title>
      <!-- Boxicons CDN Link -->
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
      <div class="sidebar">
        <div class="logo-details">
          <img src="https://img.icons8.com/ios-filled/50/000000/mental-health.png" />
          <span class="logo_name" style="font-size:30px;">Counsellor</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/counsellor" class="active">
              <img src="https://img.icons8.com/material-sharp/24/000000/home.png" />
              <span class="links_name">Home</span>
            </a>
          </li>
          <br>

          <li>
            <a href="/counsellor">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/property-time.png" />
              <span class="links_name">Appointments</span>
            </a>
          </li>
          <br>
          <li>
            <a href="/clientslist">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/list--v1.png" />
              <span class="links_name">Client's list</span>
            </a>
          </li>
          <br>
          <li>
            <a href="/groups">
              <img src="https://img.icons8.com/android/24/000000/google-groups.png" />
              <span class="links_name">Create Groups</span>
            </a>
          </li>
          <br>

          <li>
            <a href="/login">
              <img src="https://img.icons8.com/material-outlined/24/000000/logout-rounded.png" />
              <span class="links_name">Logout</span>
            </a>
          </li>
          <br>
          <br>
          



        </ul>
      </div>


      <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
          sidebar.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

      </script>

    </body>

    </html>


  </div>
  <div class="col-md-3">

  </div>
  <div class="col-md-4" style="margin-top:50px;font-family: 'Domine' , serif;font-size: 50px;color: black;">
    <div class="container">

      <form (ngSubmit)='creategroup()' #groupForm='ngForm'>

        <div class="form-group">
          <label for="name" style="font-size: 20px; color: black;font-family: 'Domine' , serif;text-align: center">Group Name</label>
          <br>
          <br>
          <input type="name" id="name" class="form-control" required [(ngModel)]="newGroup.name" name="name"
            #name='ngModel'>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Group name is required</p>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="category"
            style="font-size: 20px; color: black;font-family: 'Domine' , serif;text-align: center">Description</label>
          <br>
          <br>
          <textarea class="form-control" id="description" rows="4" required [(ngModel)]="newGroup.description"
            name="description" #description='ngModel'></textarea>

        </div>
        <br>
        <div class="form-group">
          <label for="name" style="font-size: 20px; color: black;font-family: 'Domine' , serif;text-align: center">Clients
            Name</label>
          <br>
          <br>
          <input type="name" id="name" class="form-control" required [(ngModel)]="newGroup.client_name" name="client_name"
            #name='ngModel'>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Group name is required</p>
          </div>
        </div>
        <br>
        
        <!-- <div class="form-group">
          <select [(ngModel)]="newGroup.name" id="name" name="name" required class="form-control">
            <option *ngFor="let user of newGroup.clients" [value]="user.client_name">
              {{user.email}}
            </option>
          </select>
        </div> -->
        <br>

        
        <button type="submit" class="btn btn-success">Create</button>
      </form>
    </div>
  </div>


</div>
